* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.carousel-inner img {
  width: 100%;
  object-fit:cover;
  object-position:center;
  height: 36rem !important;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: auto;
  border: auto;
  padding: 15px 0px 15px 0px;
  font-weight: bold;
}

footer p {
  font-size: .8rem;
}
